.App {
  text-align: center;

}

.col-xs-6 {
  flex-basis: 20%;
}

.App-quote {
  text-align: center;
  height: 150px;
  padding: 20px;
}




.App-test {
  position: relative;
  flex: 1;
  test-aligin: center;
  height: 150px;
  padding: 20px;
}

.App-light {
  position: center;
  flex: 2;
  test-aligin: left;
  height: 100%;
  padding: 20px;
}

.App-header {
  background-color: #222;
  height: 300px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
