.App {
  text-align: center;
  background-color: #D2B4DE;

}

.col-xs-6 {
  flex-basis: 50%;

}

.App-quote {
  text-align: center;
  height: 150px;
  padding: 20px;
}

.App-header {
  background-color: #222;
  height: 50%;
  padding: 20px;
  color: white;
}

.App-test {
  position:center;
  flex: 1;
  max-width: 300px;
  background-color: #222;
  height: 50%;
  width: 100%;
  padding: 20px;
  color: white;

}



.App-light {
  position: center;
  flex: 1;
  max-width: 100%;
  background-color: #222;
  height: 100%;
  width: 100%;
 
}


.App-chat {
  position: relative;
  max-width: 200px;
  background-color: #222;
  height: 50%;
  width: 55%;
  padding: 20px;
}


.App-title {
  font-size: 1.5em;
}

.App-profile {
  position: relative;
  background-color: #222;
  max-width: 100px;
  height: 25%;
  width: 25%;
  padding: 20px;
}


.App-intro {
  font-size: large;
  width: 100%;
  position: relative;
  padding: 20px;
  color: white;

}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
