.App {
  text-align: center;
  background-color: #D2B4DE;
  color:#fff;
  margin:auto;
  padding:5px 5px;

}
.App-circa{
  position: relative;
  max-width: 150px;
  max-height: 100px;
  height: 100%;
  width: 100%;
  padding: 5px;
  background-color: #222;
  color:white;

}
.App-two {
  position: relative;
  max-width: 100%;
  height: 100%;
  width: 100%;
  color:white;
}
.App-info {
  position: relative;
  max-width: 100%;
  height: 50%;
  width: 70%;
  color:white;
}
.col-xs {
  text-align: center;
  flex-basis: 50%;

}

.App-quote {
  text-align: center;
  height: 150px;
  padding:5px 5px;
  background-color: #222;
  color:#fff;

}

.App-header {
  position:relative;
  background-color: #222;
  max-height: 25%;
  max-width:100%;
  width:100%;
  height:80%;
  color: white;
}

.App-ribbon {
  position:center;
  max-width: 200px;
  background-color: #222;
  height: 50%;
  width: 50%;
  padding: 10px 20px;
  color: white;

}

.App-light {
  position: center;
  max-width: 100%;
  background-color: #222;
  height: 100%;
  width: 100%;
  padding: 5px 5px;
}


.App-chat {
  position: relative;
  max-width: 300px;
    max-height: 200px;
  background-color: #222;
  height: 100%;
  width: 100%;
  padding: 5px 5px;
}


.App-title {
  font-size: 1.5em;
}

.App-profile {
  position: relative;
  background-color: #222;
  max-width: 100px;
  height: 25%;
  width: 25%;
  padding: 5px 5px;
}


.App-intro {
  font-size: large;
  width: 100%;
  position: relative;
  padding: 5px 5px;
  color: white;

}


/*@keyframes App-logo-spin {*/
/*  from {*/
/*    transform: rotate(0deg);*/
/*  }*/
/*  to {*/
/*    transform: rotate(360deg);*/
/*  }*/
/*}*/
